*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}.container{
    background-color: white;
    width: 400px;
    padding: 20px;

}
    
.container h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom:20px;

}.form-group{
color: #333;
/* margin-bottom:px; */
padding-bottom:5px;

}.form-group label{
    display: block;
    margin-bottom: 5px;
    color: #3c40c6;
    font-weight: 500;

}.form-group input{
    border: 2px solid #aaa;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius:4px;

}.form-group p{
    font-size: 15px;
    margin-top: 5px;
    visibility: hidden;
}.form{
    padding: 30px 40px;
}.form button{
    width: 100%;
    padding: 10px;
    border: 2px solid #3c40c6;
    color: #fff;
    background-color:#3c40c6 ;
    text-transform: uppercase;
}.form-group.error p{
    color: #f53b57;
    visibility: visible;
}.form-group.error input{
    border-color: #f53b57;
    /* visibility: visible; */
}.form-group.success input{
    border-color: #05c46b;
}